{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Sign up</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form method="POST" id="sign-up-form">
        {% csrf_token %}
        <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
        <h1 class="h3 mb-3 fw-light">Sign up!</h1>
        <div class="row gx-1">
          <div class="form-floating mb-2 col-sm-12 col-md-6">
            {{ signupform.first_name }}
            <label for="first_name"><small>First Name</small></label>
          </div>
          <div class="form-floating mb-2 col-sm-12 col-md-6">
            {{ signupform.last_name }}
            <label for="last_name"><small>Last Name</small></label>
          </div>
        </div>
        <div class="form-floating mb-2">
            {{ signupform.email }}
          <label for="username"><small>Email</small></label>
        </div>
        <div class="form-floating mb-2">
          <input type="number" name="bvn" class="form-control" id="bvn">
          <label for="bvn"><small>BVN (optional)</small></label>
        </div>
        <div class="form-floating mb-2">
            {{ signupform.password1 }}
          <label for="floatingPassword1"><small>Password</small></label>
          <small id="hint_id_password1" class="form-text text-muted text-start">
            <ul>
              <li>At least 8 characters.</li>
              <li>Can’t be entirely numeric.</li>
            </ul>
          </small>
        </div>
        <div class="form-floating mb-2">
            {{ signupform.password2 }}
          <label for="floatingPassword2"><small>Confirm password</small></label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <p class="mt-2 mb-3 text-muted">Already have an account? <a class="text-decoration-none" href="{% url 'sign_in_view' %}">Sign in</a></p>
      </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>  
      
    </script>
  </body>
</html>